/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700,800,900");

/* Importing components */
@import url("components/avatar.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/navbar.css");

/* Importing layouts */
@import url("layouts/blogpost.css");
@import url("layouts/map.css");
@import url("layouts/saas.css");
@import url("layouts/dashboard.css");

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
p {
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
}
