.card {
  background-size: cover;
  background-position: center;
  padding: 50px 0px;
  margin: 10px 0px;
  text-align: center;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 25px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  flex: 0 0 30%;
}
@media(max-width: 992px) {
  .card {
    flex: 0 0 45%;
  }
}
@media(max-width: 768px) {
  .card {
    flex: 0 0 90%;
  }
}
